@tailwind base;
@tailwind components;
@tailwind utilities;

.retro-shadow {
  box-shadow: 4px 4px 0px #000000;
}
.retro-shadow-sm {
  box-shadow: 3px 3px 0px #000000;
}

.retro-card {
  background: #fff;
  border-radius: 1rem;
  border: .5vmin solid #05060f;
  box-shadow: .4rem .4rem #05060f;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
